.DS_Store
.idea
LICENSE
nbproject
composer.phar
/config
/public/fileadmin
/public/typo3
/public/typo3conf/ext/gridelements
/public/typo3conf/ext/wb_basic
/public/typo3conf/ext/wb_contentelements
/public/typo3conf/ext/wb_custom/Resources/Private/node_modules
/public/typo3conf/l10n
/public/typo3conf/ENABLE_INSTALL_TOOL
/public/typo3conf/AdditionalConfiguration.php
/public/.htaccess
/public/index.php
/public/typo3temp
/var
/vendor
