footer {
  color: $gold;
  background: $darkblue;

  p, ul {
    font-size: 0.9rem;
  }

  .copyright-footermenu {
    background: $darkblue;

    p, ul {
      margin-bottom: 0;
    }
  }

  a {
    color: $gold;
    text-decoration: underline;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  .copyright {
    padding: .5rem 0;
  }

  .list-inline-item {
    margin-right: .5rem;
    margin-left: .5rem;
    padding-right: 0;
    padding-left: 0;

    &.active a {
      color: $darkblue;
      text-decoration: underline;
    }

    a {
      text-transform: none !important;
    }
  }

  #back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 10px;
    display:none;

    &.btn-primary {
      background-color: $mediumblue;
      border-color: $mediumblue;
      color: $gold;
      line-height: initial;
      padding: 14px 16px;
      border-radius: 2.3rem;
      width: 55px;
      height: 55px;

      &:focus {
        box-shadow: none;
      }
    }
  }
}