body {
	background-color: $white !important;
	font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
	color: $dark;
	font-weight: 100;
}

p {
	flex-basis: 100%;

	a {
		display: inline-flex;
	}
}

a {
	color: $dark;
	text-decoration: underline;

	&:hover {
		color: $dark;
		text-decoration: none;
	}
}

.cituroBookingButton {
	background-color: $gold !important;
	color: $darkblue !important;
	border: none !important;
	border-radius: 0 !important;

	&:hover {
		background-color: $mediumblue !important;
		color: $gold !important;
	}
}

.cituroContainer[floating][buttonPosition="left_bottom"] {
	bottom: 50px !important;
	left: 10px !important;
	font-family: Helvetica, Arial, sans-serif !important;
	color: $dark !important;
	font-weight: 100 !important;
}

@media only screen and (max-width: 480px), screen and (max-device-width: 640px) and (min-device-width: 480px) and (orientation: landscape) {

	.cituroContainer[floating]:not([ignoremobile]) {
		position: sticky;
		position: -webkit-sticky;
		bottom: 0px !important;
		top: unset !important;
		left: unset !important;
		right: unset !important;
		transform: unset;
		animation: none;
		width: 100%;
		display: block;
	}
}