.top-container {
	background-color: $darkblue;
	color: $gold;
	padding: 10px;
	text-align: center;

	p {
		margin: 0;
		padding: 0;
	}

	a {
		color: $gold;
	}
}

.wb-navbar-transparent {
	background: $white;

	&.sticky {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
		box-shadow: 0 0 20px -10px rgba($darkblue,0.8);
	}
	&.sticky + main {
		padding-top: 102px;
	}
}

.navbar-brand {
	img {
		width: auto;
		max-height: 100px;
	}
}

.navbar-toggler {
	color: $white;
	text-transform: uppercase;
	padding: .4rem .75rem;

	.navbar-toggler-text {
		vertical-align: middle;
		display: inline-block;
		font-size: 20px;
		padding: 5px 0 0 5px;
		color: $darkblue;
	}
}

#mainmenu {
	justify-content: center;
	text-align: center;
	padding-top: 20px;

	.nav-link {
		color: $mediumblue;
		position: relative;
		text-decoration: none;
		transition: color .4s ease-out;

		&:hover {
			right: 0;
			text-decoration: none;
			color: $darkblue;

			&:after {
				right: 0;
				border-color: $darkblue;
			}
		}

		&:after {
			border-radius: 1em;
			border-top: .1em solid $mediumblue;
			content: "";
			position: absolute;
			right: 100%;
			bottom: .14em;
			left: 0;
			transition: none;
		}
	}

	.active {
		.nav-link {
			right: 0;
			text-decoration: none;
			color: $darkblue;

			&:after {
				right: 0;
				border-color: $darkblue;
			}
		}
	}
}

@media (min-width: 768px) {
	#mainmenu {
		padding-top: 0;
	}

	.navbar-expand-md .navbar-nav .nav-link {
		margin-right: .5rem;
		margin-left: .5rem;
		padding-right: 0;
		padding-left: 0;
	}
}